In [1]:
import pandas

In [2]:
pandas.read_csv("data/gapminder.tsv", sep="\t")

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [3]:
df = pandas.read_csv("data/gapminder.tsv", sep="\t")

In [4]:
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [5]:
import pandas as pd

In [7]:
df = pd.read_csv("data/gapminder.tsv", sep="\t")

In [9]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [10]:
df.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
df.shape

(1704, 6)

In [13]:
df.shape()

TypeError: 'tuple' object is not callable

In [14]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [15]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [16]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [17]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.332, 9240934, 820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.10071],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499603],
       ['Zimbabwe', 'Africa', 2002, 39.989, 11926563, 672.0386227],
       ['Zimbabwe', 'Africa', 2007, 43.487, 12311143, 469.7092981]],
      dtype=object)

In [18]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [21]:
country_sub = df["country"]

In [22]:
country_sub

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [23]:
type(country_sub)

pandas.core.series.Series

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [25]:
df.country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [26]:
df.shape

(1704, 6)

In [27]:
df["shape"]

KeyError: 'shape'

In [29]:
df[["country"]]

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [31]:
subset = df[["country", "continent", "year"]]

In [32]:
["country", "continent", "year"]

['country', 'continent', 'year']

In [33]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [35]:
subset.sample(5)

           country continent  year
777          Italy    Europe  1997
1344  Sierra Leone    Africa  1952
29         Algeria    Africa  1977
1428     Sri Lanka      Asia  1952
68       Australia   Oceania  1992

In [36]:
subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
dtypes: int64(1), object(2)
memory usage: 40.1+ KB

In [37]:
pd.__version__

'1.4.3'

In [38]:
df.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [39]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [40]:
df.loc[[0, 99, 199]]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
99     Bangladesh      Asia  1967   43.453  62821884  721.186086
199  Burkina Faso    Africa  1987   49.557   7586551  912.063142

In [41]:
df.loc[-1]

KeyError: -1

In [42]:
df.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [44]:
df.sample(5).iloc[0]

country      Yemen, Rep.
continent           Asia
year                1997
lifeExp            58.02
pop             15826497
gdpPercap    2117.484526
Name: 1677, dtype: object

In [45]:
df.sample(5).loc[0]

KeyError: 0

In [48]:
df.sample(5).iloc[0]

country      Congo, Rep.
continent         Africa
year                1987
lifeExp            57.47
pop              2064095
gdpPercap    4201.194937
Name: 343, dtype: object

In [49]:
df.iloc[[0, -1]]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [51]:
df.loc[[0, 1, 2], ["year", "pop"]]

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083

In [52]:
df.iloc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [53]:
type(df.iloc[0])

pandas.core.series.Series

In [54]:
df.iloc[[0]]

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314

In [56]:
df.iloc[[0, 1, 2], [2, 4]]

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083

In [58]:
df["lifeExp"].mean()

59.474439366197174

In [61]:
df.groupby("year")["lifeExp"].mean()

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [64]:
grouped = df.groupby(["year", "continent"])[["lifeExp", "gdpPercap"]].mean()

In [65]:
grouped

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [66]:
grouped.index

MultiIndex([(1952,   'Africa'),
            (1952, 'Americas'),
            (1952,     'Asia'),
            (1952,   'Europe'),
            (1952,  'Oceania'),
            (1957,   'Africa'),
            (1957, 'Americas'),
            (1957,     'Asia'),
            (1957,   'Europe'),
            (1957,  'Oceania'),
            (1962,   'Africa'),
            (1962, 'Americas'),
            (1962,     'Asia'),
            (1962,   'Europe'),
            (1962,  'Oceania'),
            (1967,   'Africa'),
            (1967, 'Americas'),
            (1967,     'Asia'),
            (1967,   'Europe'),
            (1967,  'Oceania'),
            (1972,   'Africa'),
            (1972, 'Americas'),
            (1972,     'Asia'),
            (1972,   'Europe'),
            (1972,  'Oceania'),
            (1977,   'Africa'),
            (1977, 'Americas'),
            (1977,     'Asia'),
            (1977,   'Europe'),
            (1977,  'Oceania'),
            (1982,   'Africa'),
            (1982, 'Americas'),
            (1982,     'Asia'),
            (1982,   'Europe'),
            (1982,  'Oceania'),
            (1987,   'Africa'),
            (1987, 'Americas'),
            (1987,     'Asia'),
            (1987,   'Europe'),
            (1987,  'Oceania'),
            (1992,   'Africa'),
            (1992, 'Americas'),
            (1992,     'Asia'),
            (1992,   'Europe'),
            (1992,  'Oceania'),
            (1997,   'Africa'),
            (1997, 'Americas'),
            (1997,     'Asia'),
            (1997,   'Europe'),
            (1997,  'Oceania'),
            (2002,   'Africa'),
            (2002, 'Americas'),
            (2002,     'Asia'),
            (2002,   'Europe'),
            (2002,  'Oceania'),
            (2007,   'Africa'),
            (2007, 'Americas'),
            (2007,     'Asia'),
            (2007,   'Europe'),
            (2007,  'Oceania')],
           names=['year', 'continent'])

In [71]:
grouped_reset = grouped.reset_index()

In [72]:
grouped_reset.head()

   year continent    lifeExp     gdpPercap
0  1952    Africa  39.135500   1252.572466
1  1952  Americas  53.279840   4079.062552
2  1952      Asia  46.314394   5195.484004
3  1952    Europe  64.408500   5661.057435
4  1952   Oceania  69.255000  10298.085650